div.formMenu.modalMenu
    div.box
        div.header
            h2 填寫預約資料
            span.close
                img(src="./images/close.svg", alt="", srcset="")
        div.scrollBox
            form(action="") 
                input.form-control.datetimePicker(placeholder="2022-02-03 12:10")
                input.form-control(placeholder="姓名")
                input.form-control(placeholder="連絡電話")
                input.form-control(placeholder="E-Mail")
                div
                    img.code(src="./images/authenticator.jpg", alt="", srcset="")
                input.form-control(placeholder="驗證碼")
        
        div.footerBox.w-100
            a.btn.main.fill 送出

            