div(class="mobile")
    div(class="menu")
        ul.main
            li 
                a(href="./about.html" class="on") 關於我們
            li 
                a(href="./prod.html") 文創商品
            li 
                a(href="./guide.html") 在地導遊
            li 
                a(href="./story.html") 在地故事
            li 
                a(href="./landscape.html") 景點介紹

        include ./social.pug