div.tools
	nav.navBar
		div.navContainer
			div.leftBox
				a.logoTxt(href="./index.html")
					img.logo_s(src="./images/logo_s.svg")
					span 賴唐鴉家庭美術館
			
			div.centerBox
				include menu.pug
				
			div.rightBox

				div.fb
					a.facebook(href="https://www.facebook.com/") 
						i.fab.fa-facebook-square(aria-hidden="true")

				div.m_toggle.kart.k_btn.m_toggle 
					i.fa.fa-shopping-cart(aria-hidden="true")
					span.counter 99

				if page == "index"
					div.m_toggle.login_btn
						i.fa.fa-user(aria-hidden="true")
				else
					div.m_toggle.u_btn
						i.fa.fa-user(aria-hidden="true")

				div.m_menu
					div 
					div 
					div     
						   
	include mobileMenu.pug
	include kartMenu.pug
	include userMenu.pug
	include loginMenu.pug
	include registMenu.pug
	include forgetMenu.pug