include ./comp/config.pug

doctype html
html
  include ./comp/header.pug
  body    
    +nav("about")
    +sideBanner('關於我們', 'iˇ ngoˊ ' ,'./images/aboutBanner.jpg')

    div.blocker.block-2-1.underLine
      div.content.LR.reverse 
        div
          div(class="photo left orange2")
            img( loading="lazy" src=imgPath+"photo1.jpg") 
        div
          section 
            div.title.left
              span.red lo ieuˇ congˇ
              h2 1967年創立 三代傳承老窯場
            p 張信享 -- 張世浩 -- 張維翰
            p 50年以上歷史的老窯場，更是台灣碩果僅存製作大甕、大缸的手擠坯傳統窯場。銅鑼窯位於銅鑼鄉竹森村往通霄的路上，老舊的屋瓦，見證苗栗窯業的興衰，已故創辦人張信享先生十七歲即拜福州師李依伍為師，學習手擠坯成型技巧，民國五十六年獨資創設「銅鑼窯業工廠」，生產花盆、醃甕、醬油缸、…等。
            p 銅鑼窯位於銅鑼鄉竹森村往通霄的路上，老舊的屋瓦，見證苗栗窯業的興衰，已故創辦人張信享先生十七歲即拜福州師李依伍為師，學習手擠坯成型技巧，民國五十六年獨資創設「銅鑼窯業工廠」，生產花盆、醃甕、醬油缸、…等。
            p 銅鑼窯的作品多元化，從小型酒甕20斤到大型儲酒酒甕800斤的酒甕、醃製酸菜以及醬油的各式大小水缸、儲藏茶葉的茶倉、柴燒茶碗、茶具組、大型景觀陶及陶藝創作等;同時也積極創新，研究釉藥變化，兼顧生活實用性，經營力求多元化，創造老窯場價值。
             
             
    div.blocker.block-2-2.underLine
        div.content.LR 
          div
            div(class="photo right yellow")
              img( loading="lazy" src=imgPath+"photo2.jpg") 
          div
            section
              div.title.left
                span.red lo ieuˇ congˇ
                h2 1967年創立 三代傳承老窯場
              p 銅鑼窯的作品多元化，從小型酒甕20斤到大型儲酒酒甕800斤的酒甕、醃製酸菜以及醬油的各式大小水缸、儲藏茶葉的茶倉、柴燒茶碗、茶具組、大型景觀陶及陶藝創作等;同時也積極創新，研究釉藥變化，兼顧生活實用性，經營力求多元化，創造老窯場價值。
             
    
    div.blocker.block-2-3
        div.content.LR.reverse 
          div
            div(class="photo right yellow")
              img( loading="lazy" src=imgPath+"photo2.jpg") 
          div
            section
              div.title.left
                span.red lo ieuˇ congˇ
                h2 1967年創立 三代傳承老窯場
              p 銅鑼窯的作品多元化，從小型酒甕20斤到大型儲酒酒甕800斤的酒甕、醃製酸菜以及醬油的各式大小水缸、儲藏茶葉的茶倉、柴燒茶碗、茶具組、大型景觀陶及陶藝創作等;同時也積極創新，研究釉藥變化，兼顧生活實用性，經營力求多元化，創造老窯場價值。
             
    
    include ./comp/footer.pug
    




    
    
    