include ./comp/config.pug

doctype html
html
  include ./comp/header.pug
  body
    +nav("guide")
    +sideBanner('預約行程', '' ,'./images/guideBanner.jpg')

    div.blocker.underLine
      div.content.LR.prod
        div.limit
          +gallery('prod', 'guide')
        div 
          section 
            h3 「摘菜葉、弄大灶」體驗文化營
            hr       
            P 透過大灶，讓學生重新回到傳統農村的生活模式。
            P 如今有大灶的家庭已經很少，就算是有，家裡也沒幾人能一起吃頓飯。
            P 藉由此活動，讓親子共同端出道道佳餚，與家人一同做出一道菜、坐在一桌吃飯的日子。
            h4 本次主要活動項目
            ul              
              li 09：00~09：30 報到
              li 09：30~09：45 活動說明
              li 09：45~10：15 摘菜活動
              li 10：15~10：30 分組說明
              li 10：30~12：00 食農教育
              li 12：00~12：30 餐點大評比
              li 12：30~13：30 大家藝起來用餐
              li 13：30~14：00 午休時間
              li 14：00~15：30 社區巡禮
              li 15：30~16：00 活動分享
              li 16：00~ 回到溫暖的家

          div
            span.money NT$ 1,999 元
            a.btn.main.fill.buy.f_menu.from_btn 我要預約 
            

    div.blocker
      div.content
        a.btn.red(href="./guide.html") 回上頁

    include ./comp/footer.pug


