include ./comp/config.pug

doctype html
html
  include ./comp/header.pug

  body
    +nav("guide") 
    +sideBanner('預約行程', '' ,'./images/guideBanner.jpg')

    div.blocker.bgShop
      div.content
        div.cards
          - var n = 0;            
          while n < 12
            div
              a(href="./guide_view.html")
                figure.guide(data-loop=n++)  
                  -var imgName = "event-"+ (n%4+1)+".jpg"
                  div.f-box(style={'background-image':'url('+imgPath+imgName+')'})  
                  div.signUp 10/50
                  figcaption     
                    span 「摘菜葉、弄大灶」體驗文化營
                    span 一月行程
        
        div.footContainer
          include ./comp/pager.pug
                
    include ./comp/footer.pug
  




    
    
    