include ./comp/config.pug

doctype html
html
  include ./comp/header.pug

  body
    +nav("landscape") 
    +sideBanner('在地旅遊', 'cai ti liˊ iuˇ' ,'./images/prodBanner.jpg')

    div.blocker.bgShop
      div.content
        div.cards
          - var n = 0;            
          while n < 8
            div
              a(href="./landscape_view.html")
                figure.guide(data-loop=n++)  
                  -var imgName = "landscape"+ (n%4+1)+".jpg"
                  div.f-box(style={'background-image':'url('+imgPath+imgName+')'})  
                  figcaption     
                    span 龍貓土地公
        
        div.footContainer
          include ./comp/pager.pug
                
    include ./comp/footer.pug
  




    
    
    