include ./comp/config.pug

doctype html
html
  include ./comp/header.pug
  body    
    +nav("landscape")

    div.blocker.top
      div.content  
          div.views
            div(class="pageTitle underLine" ) 
              h1 龍貓土地公

            div.article.editor
              h1 HTML編輯器內容
              h2 HTML編輯器內容
              h3 HTML編輯器內容
              h4 HTML編輯器內容
              h5 HTML編輯器內容
              h6 HTML編輯器內容
              P HTML編輯器內容

              figure
                img(src="./images/landscape1.jpg" alt="Elephant at sunset")
                figcaption 圖片介紹
              blockquote 青年返鄉接下傳承的擔子，黃文業、黃文詣兄弟檔共同創立了「橘二代」，用巧思在包裝上推陳出新，兼顧可口的茂谷柑品質，採用草生栽培的友善農法，再透過行銷翻轉偏鄉農產的命運，讓更多消費者認識大湖的茂谷柑。
              P 苗栗銅鑼旅遊景點「龍貓土地公」，位於銅鑼窯旁邊，佇立在一片稻田中央，有一個新興拍照景點，原本的田心伯公，現在成了最夯的龍貓土地公，藍天白雲配青綠稻田，拍出來的效果就是特別療癒，更是IG熱門的打卡景點！

              figure.left
                img(src="./images/landscape2.jpg" alt="Elephant at sunset")
                figcaption 圖片介紹
              P 苗栗銅鑼旅遊景點「龍貓土地公」，位於銅鑼窯旁邊，佇立在一片稻田中央，有一個新興拍照景點，原本的田心伯公，現在成了最夯的龍貓土地公，藍天白雲配青綠稻田，拍出來的效果就是特別療癒，更是IG熱門的打卡景點！
              P 苗栗銅鑼旅遊景點「龍貓土地公」，位於銅鑼窯旁邊，佇立在一片稻田中央，有一個新興拍照景點，原本的田心伯公，現在成了最夯的龍貓土地公，藍天白雲配青綠稻田，拍出來的效果就是特別療癒，更是IG熱門的打卡景點！
              
              hr
              
              figure.right
                img(src="./images/landscape3.jpg" alt="Elephant at sunset")
                figcaption 圖片介紹
              P 苗栗銅鑼旅遊景點「龍貓土地公」，位於銅鑼窯旁邊，佇立在一片稻田中央，有一個新興拍照景點，原本的田心伯公，現在成了最夯的龍貓土地公，藍天白雲配青綠稻田，拍出來的效果就是特別療癒，更是IG熱門的打卡景點！
              P 苗栗銅鑼旅遊景點「龍貓土地公」，位於銅鑼窯旁邊，佇立在一片稻田中央，有一個新興拍照景點，原本的田心伯公，現在成了最夯的龍貓土地公，藍天白雲配青綠稻田，拍出來的效果就是特別療癒，更是IG熱門的打卡景點！
              P 苗栗銅鑼旅遊景點「龍貓土地公」，位於銅鑼窯旁邊，佇立在一片稻田中央，有一個新興拍照景點，原本的田心伯公，現在成了最夯的龍貓土地公，藍天白雲配青綠稻田，拍出來的效果就是特別療癒，更是IG熱門的打卡景點！

              br

            button.btn.red 返回
          
    include ./comp/footer.pug
    




    
    
    