include config.pug

doctype html
html
  include header.pug
  body
    +nav("media") 

    div.blocker.top
      div.content      
        div(class="pageTitle underLine" ) 
          h1 媒體採訪
          h4 子標題 

        div.labels
          - var l = 0
          while l < 10
            a.lable(href="#" data-loop=l++) #活動標籤  
            
        div.cards
          - var n = 0;            
          while n < 8
            div
              a(href="./media_view.html")
                figure.media(data-loop=n++)  
                  -var imgName = "event-"+ (n%3 +1)+".jpg"
                  div.f-box(style={'background-image':'url('+imgPath+imgName+')'}) 
                  div.playIcon
                    i.fas.fa-play-circle
                  figcaption 
                    span.time 2022-02-03
                    p 專訪「橘二代」｜青年返鄉承接父業，打造友善農業的品牌

        div.footContainer
          div.pager_bar
            a.arr( href="#") 第一頁
            a( href="#") 1
            a( href="#") 2
            a.cur( href="#") 3
            a( href="#") 4
            a( href="#") 5
            a.arr( href="#") 最終頁

    include footer.pug
    




    
    
    