include ./comp/config.pug

doctype html
html
  include ./comp/header.pug
  body    
    +nav("panorava")
    //+sideBanner('唐鴉與唐婆', '' ,'./images/coupleBanner.jpg')

    div.panorava
      img(src="./images/panorava.jpg", alt="")
   
    
    include ./comp/footer.pug
    




    
    
    