include ./comp/config.pug

doctype html
html
  include ./comp/header.pug
  

  body
    +nav("prod") 
    +sideBanner('商品', '' ,'./images/prodBanner.jpg')
    
    div.blocker.bgShop
      div.content
        div.cards
          - var n = 0;            
          while n < 14
            div
              a(href="./prod_view.html")
                figure.shop(data-loop=n++)  
                  -var imgName = "prod-"+ (n%3+3)+".jpg"
                  div.f-box(style={'background-image':'url('+imgPath+imgName+')'})            
                  div.icon
                    i.fa.fa-shopping-cart(aria-hidden="true")             
                  figcaption
                    
                    div.prodTitle
                      span 唐婆醋/愛吃醋禮盒
                    p 「唐婆醋」是藝術、人文、科技的結晶。唐婆以微生物遗傳工程學碩士的專業背景,在好山好水韭充滿藝術氣息的氛圍裡培養醋酸菌長時間的熟成,是純天然釀造的健康好醋。
                    div.money NT$ 1,180

        
        div.footContainer
          include ./comp/pager.pug
                
    include ./comp/footer.pug
  




    
    
    