include ./comp/config.pug

doctype html
html
  include ./comp/header.pug
  body    
    +nav("story")
    +sideBanner('預約管理', 'i-iogˋ gonˋ-liˊ' ,'./images/storyBanner.jpg')

    div(class="blocker" )
      div(class="content short" ) 
        div(class="title")
          //-span.red ge-nginˇ ziiˊ-liau viˇ-fu
          span.main 預約管理
        div(class="box")
            form(action="") 
              div.form-group
                table.table
                  tbody 
                    tr 
                      th 下訂時間	
                      th 預約時間	
                      th 店家名稱	
                      th 預約狀態	
                      th 取消預約
                    -var i=0
                    while i < 4
                      tr(data-loop=i++)
                        td 2021/04/02	
                        td 2021/08/02	
                        td XXXX行程	
                        td 已使用
                        td 
                          a.btn.red 取消
          
        div.footer
          a.btn.red 確認修改
           
    include ./comp/footer.pug
    




    
    
    