include ./comp/config.pug

doctype html
html
  include ./comp/header.pug
  body    
    +nav("story")
    +sideBanner('在地故事', 'cai ti gu-sii' ,'./images/storyBanner.jpg')

    div(class="blocker block-2-1 underLine" )
      div(class="content LR reverse") 
        div
          div(class="photo left ")
            img( loading="lazy" src=imgPath+"photo1.jpg") 
        div
          section 
            div.title.left
              span.red liungˇ meu-eˋ bagˋ-gungˊ
              h2 龍貓土地公
            p 苗栗銅鑼旅遊景點「龍貓土地公」，位於銅鑼窯旁邊，佇立在一片稻田中央，有一個新興拍照景點，原本的田心伯公，現在成了最夯的龍貓土地公，藍天白雲配青綠稻田，拍出來的效果就是特別療癒，更是IG熱門的打卡景點！
           
    div(class="blocker block-2-2 underLine")
        div(class="content  LR ") 
          div
            div(class="photo right")
              img( loading="lazy" src=imgPath+"photo2.jpg") 
          div
            section
              div.title.left
                span.red hagˋ-gaˊ giˊ-ngi
                h2 客家技藝
              p 為推廣客家技藝，傳承保留在地傳統產業，客委會去年底開始進行，客家技藝傳習暨創生示範計畫，主委李永得27日下午，訪視苗栗縣銅鑼、三義2間陶藝工廠，了解計畫執行狀況，希望藉由傳承與活化並進方式保存客庄好手藝。
              p 苗栗縣銅鑼窯以手擠坯技法 ，製作大甕缸聞名，但隨著時代變遷陶產業沒落，目前只剩不到3間仍保有這項技藝，這次獲客委會客家技藝傳習計畫補助，希望保存在地好手藝。
              p 客委會主委 李永得：「這個補助的目的，就說鼓勵我們堅持客家傳統的工藝手藝，運用現在創新的方式發展，不單可以帶動地方產業發展，同時客家傳統工藝不會失傳。」
             
    
    div(class="blocker block-2-3 ")
        div(class="content  LR reverse") 
          div
            div(class="photo right")
              img( loading="lazy" src=imgPath+"photo2.jpg") 
          div
            section
              div.title.left
                span.red daˋ co ieuˇ pinˋ paiˇ
                h2 打造窯品牌
              p 苗栗縣為全國傳統陶製品重鎮，至今培育出眾多技藝精湛陶藝工作者，苗栗縣政府此次爭取客家委員會補助執行「苗栗陶品牌打造計畫」，並規畫陶藝文物展，以苗栗老窯場復興運動為核心理念，展現苗栗窯場跨時代的發展歷程。
              p 陶藝文物展「窯傳─銅鑼窯、金酆窯、金龍窯主題展」即日起至8月31日在苗栗陶瓷博物館登場。窯傳策展人張維翰以苗栗老窯場復興運動概念，回顧窯場過往的奮鬥過程，在室外場域設置大型裝置藝術，室內展場則有銅鑼窯、金酆窯、金龍窯作品，並結合老照片，展現苗栗窯場的發展歷程，以及3窯在不同年代所呈現的風格變化。
              p 銅鑼窯、金酆窯、金龍窯分別位在銅鑼鄉、公館鄉、西湖鄉，皆以手擠坯技法起家，並傳承至2代、3代，保存且發揚製陶傳統工藝。而張維翰為銅鑼窯第3代接班人，承接祖父和父親傳承下來的百年技術及一甲子老窯場經營重擔，專研茶陶研究、手擠坯技術、窯燒等多項專業工藝技能，希望透過展覽，展現跨時代的陶韻風華。
              p 縣府文化觀光局長林彥甫指出，窯傳陶藝文物展集結銅鑼窯、金酆窯、金龍窯共29件作品，有兼具客家生活的生活陶、融合創新創作的藝術陶，每件藝術品與日常生活緊密結合，期盼民眾一同品味苗栗陶瓷的兼容並蓄，讓藝術走入生活，看見陶鄉風華。
    
    include ./comp/footer.pug
    




    
    
    